.row {
  color: white;
  margin-left: 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain; /* maintain aspect-ration */
  width: 100%;
  max-height: 115px;
  margin-right: 14px;
  transition: transform 400ms;
  border-radius: 3px;
  position: relative;
}

.row_poster:hover {
  transform: scale(1.09);
}

.row_posterLarge {
  max-height: 250px;
  transition: transform 400ms;
  border-radius: 3px;
}

.row_posterLarge:hover {
  transform: scale(1.1);
}
/* .playButton {
  width: 300px;
  height: calc(300px / 1.78);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  z-index: 9999;
}

.glyphicons_v2.play {
  background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-175-play-806cb05551791b8dedd7f8d38fd3bd806e2d397fcfeaa00a5cc9129f0819fd07.svg);
}

.svg.invert {
  filter: invert(1);
} */
